*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{

    font-family: 'Rubik Mono One', sans-serif;
   	color:red;
	background-color:black;
}

h1{
font-size: 25px;
padding: 0.5em;
}

h1 a{
color: #ef3e4a;
text-decoration: none;
}

h1 a:hover{
	color: #3c485e;
}


.wrapper{
	display: flex;
   flex-wrap: wrap;
   width: 100%;
   justify-content: center;
}

.intro{
	display:flex;
	flex-wrap: wrap;
}

.txt{

	width: 90%;
	
}

p:hover{
	color: #ff8fa4;
}

.intro, .sidebar{
	padding: 3% 5% 0 5%;

}

.flexy{
	display: flex;
	flex-wrap: nowrap;
flex-shrink: 5;
    flex-grow: 2;
    justify-content: flex-start;
}

.sidebar img{
	width: 50%;
	height: 350px;
    max-height: 700px;
 

}


img{
mix-blend-mode:luminosity;

}

img:hover{
	mix-blend-mode: hard-light;
}

.fa-instagram {

 color:#ff8fa4;
}

.fa{
width:5%;
font-size:30px;

 text-decoration: none;
}
.fa:hover{
	color: #ef3e4a;
}

