*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{

    font-family: 'Rubik Mono One', sans-serif;
   	color:red;
	background-color:#eed974;
}

h1{
font-size: 25px;
padding: 0.5em;
}

h1 a{
color: #ef3e4a;
text-decoration: none;
}

h1 a:hover{
	color: #3c485e;
}

.intro{
	padding:5rem;
	line-height: 209%;
	margin-top: 7%;

}

.sidebar{
	background: #3c485e;
	padding: 1em;
	margin-top: 15%;
	margin-left: 25%;
}

.wrapper{
	display: flex;
	flex-wrap: wrap;

}

.fa{
width: 5%;
font-size: 50px;

 text-decoration: none;
}
.fa:hover{
	color: #ef3e4a;

}
.fa-instagram {

 color:#ff8fa4;

}

img{
	width: 100%;
	
	mix-blend-mode:luminosity;
}




@media (min-width: 900px){
	.wrapper{
		display: flex;
		flex-wrap: wrap;
	}

	.intro{
		width: 50%;
		margin-left: auto;
	}

	.sidebar{
		width: 50%;
		margin-right: auto;
		}
}