@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*, *:before, *:after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
  font-family: 'Lora', serif;
}

h2{
  margin: 3%;
  font-weight: 400;
  font-size: small;
}

.index{  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.date{
  position: relative;
  margin: 2.5% 0 0 13%;
  font-size: small;
}

.title{ position: relative;
  margin:2% 0 0 15%;
  font-size: small;}

  ul{
    position: relative;
    padding-left: 20%;
  }

a{
  text-decoration: none;
  color: black;
  font-size: small;
}
a:hover{font-style: italic;}
.bold{
  font-weight: 700;
  font-style: italic;
  font-size: smaller;
}

li{list-style-type: none;line-height: 210%;}

.title-two{
  position: relative;
  margin:2% 0 0 15%;
  font-size: small;
}
.accordion {
  background-color: transparent;
  font-family: 'Lora',serif;
  font-size: small;
  color: black;
  cursor: pointer;
  padding: 18px;
  margin-left: 18.5%;
  position: relative;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.5s;
}

.active, .accordion:hover {
  background-color: transparent; 
  font-style: italic;
}

.panel {
  margin-left: 18.5%;
  position: relative;
  padding: 0 5%;
  display: none;
  background-color:none;
  overflow: hidden;
}

@media screen and (max-width: 980px) and (min-width: 200px){

body,.container{
    margin: 0 auto;
    overflow-x: hidden!important;
  }

  body{
    background-image:url(mesh.png);
    background-size: cover;
    background-attachment: fixed;
    background-position-x: right;
    text-rendering: optimizeLegibility;
    background-repeat: no-repeat;
  }

  .date,.title{
    padding-bottom: 5%;
  }

  .title,.title-two{
    color:darkblue;
    letter-spacing: 0.5em;
  }

  h3.date{
    text-decoration: underline;
  }

 li{
    margin-right: 3.5%;
    padding: 3%;
  }

  li a:active{
    text-decoration: line-through;
  }

  p{
    padding: 9%;
    background-color: white;
    border: 2px solid orange;
    border-radius: 50px 50px;
    border-bottom: 1px solid orangered;
  }

}
