*, 
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:rgb(147, 147, 240);
  color:green;
  font-size: 40px;
}

ul{
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

li{
  font-size: 3vw;
}

ul, a{
  list-style-type: none;
  text-decoration: none;
  color:inherit;
}

/* dropdown============================== */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: powderblue;
  min-width: 150px;
  padding: 22px 26px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* dropdown============================== */

a:hover{
  color:yellow;
  opacity: 0.70;
}

.responsive{
  max-width: 100%;
  height: auto;
  width: 50%; 
  margin:7% 0 0 25%;
  opacity: 70%;
  border: 2px solid black;
  box-shadow: 15px 20px 20px 10px;
  color:red;
}

.responsive:hover{
  opacity: 100;
  cursor: crosshair;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  padding: 5%;
}

.box-1{background-color: blueviolet;
height:50%;width:50%;}

.box-2{background-color:lightcoral;height:50%;width:50%}

.box-3{background-color: blue;height:50%;width:50%;}

.box-4{background-color: bisque;height:50%;width:50%;}

.box-1,.box-2{border:10px solid #433d85;border-radius: 50%;border-style: double;height:fit-content;
box-shadow: 1px 1px 5px 5px;
color:pink;
}

h2{
  visibility: hidden;
  font-size: smaller;
}

.number{
  font-size: 55px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.number:hover{
  cursor: cell;
}

p{
  color:#433d85;
  font-size: 27px;
  padding: 7% 10% 0 10%;
}

hr{ border: 2px solid #433d85;}

#noise{
  margin: 10% 1% 1% 0;
  height: 50px;
  width: 200px;
  filter: saturate(30%);
  opacity: 20%;
}

.container-two{display:flex;justify-content: space-between;}

@media screen and (max-width:1024px) and (min-width:100px){

  #navbar a{
    font-size: 7vw;
  }

  .dropdown{
    font-size: 7vw;
  }

  .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  }

  .box-1,
  .box-2,
  .box-3,
  .box-4{
    margin: 5% 0 0 5%;
  }

  h2{
   z-index: 999;
   color: lightgreen;
  }

  p{
    font-size: 3vw;
  }

  .number{
    font-size: 6vw;
  }

  #noise{
    width: 4vw;
  }

}
