@font-face { font-family: Sentinel; src: url('Sentinel-Light.otf'); } 
@font-face { font-family: Sentinel; font-style: italic; src: url('Sentinel-LightItalic.otf');}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background-color:#141414;
}

.container-1{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 5% 2% 0 0;
}

.box{
  justify-content: space-between;
}

.one, .two, .three, .four {
  margin-left: 45%;
  margin-bottom: 1rem;
  width: 57%;
  border: 1px solid #e94049;
  padding: 1% 0 0 0;
  }

.five{
  position: fixed;
  align-self: flex-start;
  text-align: center;
  padding: 0.5rem -2rem;
  opacity: 70%;
  z-index: -1;
}

.five img{
  border: 2px solid #e94049; 
}

h1{
  padding: 3%;
  font-family:'encode sans',sans-serif;
}
h1 a{
  color: #e94049;
  text-decoration: none;
}

h1 a:hover{
  color: blue;
}

h2 {
color: bisque;
padding: 2%;
font-family: 'Encode Sans', sans-serif;
letter-spacing: 0.03em;
}

p {
  color:antiquewhite;
  padding: 2%;
  font-family: 'Sentinel-Light';
}

p a{
  color: #ee8da3;
}

.fa:hover {
  opacity: 0.7;

}
.container-2{
  display: flex;
}

#para{

  margin-top:5%;

  width: 50%;
  height: 100px;
  background: #ee8da3;
  opacity: 50%; 
  transform: skewX(50deg);
  }
#paratwo{
 margin-top: 5%;
  width: 50%;
  height: 100px;

  background: #ee8da3;
  opacity: 50%; 
  transform: skewX(-50deg);
  }

  @media screen and (max-width:1024px)and (min-width:300px){

    .container-1{
      margin: 2%;
      display: flex;
      justify-content: center;
  
    }

    .five img{
      opacity: 10%;
    }
   
    .one, .two, .three, .four {
      width: 100%;
      }
    }
