@import url(@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@500&display=swap'));
@import url(@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap'));
 


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{

	font-family: 'Rubik Mono One', sans-serif;
	color:#ef3e4a;
	background-color:#d087bd;
}

/*page header*/
h1, .last{
	margin-left: 3%;
	font-size: 80px;
	width: 100%;
}

header{
	text-align: left;
	margin-top: 10%;
	width: 100%;
}


.last .define{
	visibility: hidden;
	width: 30%;
	position: relative;
	padding-right:16%;

	display: inline-flex;
	
	z-index: 1;
}

.define{
	font-size: 15px;
	border: 5px solid yellow;
	color:blue;
}

 .last:hover .define{
	visibility: visible;

}

.last:hover{

	cursor: help;
}
/*page header end*/



.nav {

	display:inline-flex;
	flex-wrap: nowrap;
	list-style: none;
	justify-content: space-between;
	list-style-position: inside;
	margin-left: 14%;
	

}


.nav p a{
	color:#ef3e4a;  
	font-size:150%;
	text-decoration:none;


}


.nav p:before{
  content: "\A673";
  float: left;
  display: block;
  width: 1.2em;
  font-size: 38px;
}

.nav p a:hover{
	color: #f4c7ee;
}

/*nav end*/





@media screen and (max-width: 1024px){
	.define{
		visibility: hidden;
	}

}

@media screen and (max-width: 900px){

h1{
		font-size: 70px;
	}
.last{
	font-size: 70px;
}
.define{
		visibility: hidden;
	}
}


@media screen and (max-width: 800px){
	h1{
		font-size: 70px;
	}

	.last{
	font-size: 70px;
}
.define{
		visibility: hidden;
	}

}


@media screen and (max-width: 700px){
	h1{
		font-size: 70px;
	}

	.last{
	font-size: 70px;
}
.define{
		visibility: hidden;
	}
}


@media screen and (max-width: 600px){
	
	h1{
		font-size: 60px;
	}
	.last{
	font-size: 60px;
}
.define{
		visibility: hidden;
	}
}



@media screen and (max-width: 500px){
	h1{
		font-size: 60px;
	}

	.last{
	font-size: 60px;
}
.define{
		visibility: hidden;
	}
}

@media screen and (max-width: 400px){
	h1{
		font-size: 30px;
	}

	.last{
	font-size: 30px;
}
.define{
		visibility: hidden;
	}
}

@media screen and (max-width: 300px){
	h1{
		font-size: 30px;
	}

	.last{
	font-size: 30px;
}
.define{
		visibility: hidden;
	}
}
