@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family:"FREE FAT FONT";
  src: url('fonts/FREEFATFONT-Regular.otf') format('otf') ('fonts/FREEFATFONT-Regular.woff') format('woff') ('fonts/FREEFATFONT-Regular.woff2') format('woff2');
}
@font-face {
  font-family:"Rasputin";
  src: url('fonts/Rasputin.otf') format('otf');
}
@font-face {
    font-family: 'geomanistitalic';
    src: url('geomanist-regular-italic-webfont.eot');
    src: url('geomanist-regular-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('geomanist-regular-italic-webfont.woff2') format('woff2'),
         url('geomanist-regular-italic-webfont.woff') format('woff'),
         url('geomanist-regular-italic-webfont.ttf') format('truetype'),
         url('geomanist-regular-italic-webfont.svg#geomanistitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

*, *:before, *:after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
  background-color:#5f8fc5;
  background-image: url(fish.gif);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden!important;
}

h2{
  font-family: 'FREE FAT FONT';
  font-size: 3vw;
  -webkit-text-stroke: 1px #c92c2c;
  color: blanchedalmond;
  position: fixed;
  bottom: 0;
  right: 0;
}

h2 a{
z-index:999;}

.email{
  font-family: 'Times New Roman', Times, serif;
  font-size: 2vw;
  position: fixed;
  bottom: 0;
  right: 0;
  border-top: none;
}
.parent{
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: space-around;
}

img{
  max-width: 100%;
  height:auto;
  border-bottom: 3px solid #5f8fc5;
  border-right: 1.3px solid #5f8fc5;
}

img:hover{
  opacity: 0.5;
  border-left: 7px solid #f00b0b;
  border-right: 7px solid #dfce6f;
  border-top: 5px solid rgb(255, 0, 179);
  border-bottom: 5px solid #5f8fc5;
}

.photo{
  flex-wrap: wrap;
  margin-top:0%;
  padding: 0% 2% 10% 2%;
  width: 33%;
  opacity: 95%;
}

p{
     font-family: 'geomanistitalic';
  font-size: 3vw;
  width: 100%;
}


h2 a{
  text-decoration: none;
  color:blanchedalmond ;
  -webkit-text-stroke: 1px #c92c2c;
}

/*mobile ===================================*/

@media screen and (max-width:1024px) and (min-width:200px){

  body{
    margin: 0 auto!important;
    height: 100%;
    background-size: auto;
    background-position-y: -90%;
  }
 

.events-wrapper{
  margin: 0 auto !important;
  text-align: left !important;
  width: 50%;
}

.events ol li a{
margin: 0 auto !important;
position: absolute;
text-align: left !important;
}


   h2{
    text-align: center;
   }

   em{
    text-align: center;
   }

   
  h2{
    font-size: 9vw!important;
  }
  .email{
    font-size: 5vw;
  }

  h4{
    text-align: center;
    padding-top: 5%;
    border-right: none;
    color: black;
    background-color:hsl(336,64%,76%,20%);
  }

  p{
    font-size: 4vw;
  }
}

/*  smaller screens =========================*/

@media screen and (max-width:767px) and (min-width:200px){

  body{
    margin:0 auto;
  }

  .parent{
    display: flex;
    flex-wrap: wrap!important;
    flex-direction: column;
    align-items: center;
  }

  .photo{
    width: 100%;
    height: auto;
  }
  

  .panel{
    width: 100%;
  }

}


/* exp =====================================*/

.cd-horizontal-timeline {
  opacity: 0;
  margin: 0 auto;
  -webkit-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.cd-horizontal-timeline::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.cd-horizontal-timeline.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  opacity: 1;
}
.cd-horizontal-timeline .timeline {
  position: relative;
  height: 100px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 49px;
  height: 2px;
  /* width will be set using JavaScript */
  background:url(moish.png);
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color:#5f8fc5;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 15px;
  color: black;
  text-decoration: none;
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-horizontal-timeline .events a::after {
  /* this is used to create the event spot */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #5f8fc5;
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #9CAF88;
  border-color: #9CAF88;
}
.cd-horizontal-timeline .events a.selected {
  pointer-events: none;
}
.cd-horizontal-timeline .events a.selected::after {
  background-color:blanchedalmond;
  border-color: blanchedalmond;
}
.cd-horizontal-timeline .events a.older-event::after {
  border-color: blanchedalmond;
}

@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline {
    margin: 6em auto;
  }
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

.cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 1px double #5f8fc5;
  /* replace text with an icon */
  overflow: hidden;
  color: black;
  text-indent: 0%;
  text-align: center;
  text-decoration: none;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
  background-image: url(lol.png);
  background-size: cover;
  font-size: smaller;
  font-family:'Rasputin';
  height: auto;
  text-rendering: optimizeLegibility;
}


.cd-timeline-navigation a.next {
  right: 0;
}
.no-touch .cd-timeline-navigation a:hover {
  border-color: #9CAF88;
}
.cd-timeline-navigation a.inactive {
  cursor: not-allowed;
}
.cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}
.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #c92c2c;
}

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  margin: 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}
.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}
.cd-horizontal-timeline .events-content li > * {
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-content h4 {
  display: flex;
  font-weight: bold;
 font-family:'Rasputin';
  font-size: 1.5rem!important;
  justify-content: center;
  padding-bottom: 1%;
  /*margin-top:-9%;*/
}
/* custo =========================*/

section{
  margin-top: 1% !important;
  padding-bottom:0 %;
}

li{
  list-style: none;
}

h5{
  display: flex;
  justify-content: center;
}

em{
  border-top: 1px solid #5f8fc5;
  display: flex;
  color: #e74343;
  justify-content: center;
  margin-top: -7% !important;
  padding-top: 1%;
}

em a{
  color:  #e74343;
}

.cd-horizontal-timeline .events-content em::before {
  content: '';
}

/*media================*/

@media only screen and (min-width: 768px) {
  .cd-horizontal-timeline .events-content h4 {
    font-size: 3rem;
  }
  .cd-horizontal-timeline .events-content em {
    font-size: 1rem;
    text-align: right;
  }

}

/*keyframes=============================*/

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
