@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: "Casta-Thin";
  src: url("/Users/olivbibaiab/Library/Fonts/Dirtyline Studio - Casta-Thin.otf") format("otf");
}
@font-face {
  font-family: "Casta-ThinSlanted";
  src: url("Users/olivbibaiab/Library/Fonts/Dirtyline Studio - Casta-ThinSlanted.otf") format("otf");
}
@font-face {
  font-family: "FREE FAT FONT";
  src: url("/Users/olivbibaiab/Library/Fonts/FREEFATFONT-Regular.otf") format("otf");
}

*, *:before, *:after{
	padding: 0;
	margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
 background-color: rgba(72, 241, 5, 0.87);
 background-image: url(goop.gif);
 background-repeat: repeat-y;
 background-position: 10%;
 background-attachment: inherit;
  overflow-x: hidden!important;
font-family: 'Casta-ThinSlanted';
  font-weight: bolder;
  text-rendering: optimizeLegibility;
}

header, .wee{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4% 0 1% 0;
}

a{
  z-index: 999;
}


/* title tags =====================*/

h1{
  font-weight: 900;
  text-align: center;
  font-size: 5rem;
  letter-spacing: 0.3em;
  color: black;
  font-family: 'Casta-Thin';
}


/* 'our statement' ========================*/

  .s-title{
    margin-top: 3%;
    font-size: 3rem;
    color:black;
    letter-spacing: 0.3em;
  }

  .s-title:hover{
    color: thistle;
  }


  .statement{
    border-bottom: 2px solid #5f8fc5;
    border-top: 2px solid #e48cc7;
  }


/* our statement ==================================== */

.legend{
  font-family:"Casta";
  padding:7% 0 23% 0;/*should i make it even more isolated*/
  text-rendering: optimizeLegibility;
  margin-left: 7%;
  font-style: bold;
  letter-spacing: 0.3em;
}


.explain{
  font-size: small;
  text-align: right;
  color: #fdf8fb;
}

.transition, ul li i:before, ul li i:after, p {
  transition: all 0.25s ease-in-out;
}

.flipIn, ul li, h1 {
  animation: flipdown 0.5s ease both;
}

.no-select, h2 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h2 {
  text-align: left;
  line-height: 34px;
  font-weight: 300;
  letter-spacing: 3px;
  display: block;
  margin-left: 1%;
}

.statement {
  text-rendering: optimizeLegibility;
  text-shadow: 2px 2.5px thistle;
  font-size: 1rem;
  line-height: 55px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
  text-align: center;
  padding: 2% 15% 0.1% 10%;
}

.statement:hover{
  background-color: thistle;
  opacity:90% ;
}

ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0 auto;
  border-bottom: 2px solid #9CAF88;
}

ul li {
  position: relative;
  padding: 0;
  margin:  0 auto;
  padding-bottom: 14px;
  padding-top: 18px;
}
ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}
ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}
ul li:nth-of-type(3) {
  animation-delay: 1s;
}
ul li:last-of-type {
  padding-bottom: 0;
}
ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 105px;
}
ul li i:before{
  content:'\1F0B1';
  position: absolute;
  font-size: 4.8vw !important;
  color:thistle;
}
ul li i:after {
  content: '\1F0D5';
  position: absolute;
  font-size: 4.8vw !important;
  color: #a0c7f5;
}
ul li i:before {
  transform: translate(-2px, 0) rotate(90deg);
}
ul li i:after {
  transform: translate(2px, 0) rotate(-25deg);
}
ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
ul li input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(90deg);
}
ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-25deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}




img{
  max-width: 100%;
  height:300px;
  border-bottom: 3px solid #9CAF88;
  border-right: 1.3px solid #9CAF88;
}

img:hover{
  opacity: 0.5;
  border-left: 7px solid #f00b0b;
  border-right: 7px solid #e48cc7;
  border-top: 5px solid rgb(255, 0, 179);
  border-bottom: 5px solid rgb(181,143,132);
}



/*mobile ===================================*/

@media screen and (max-width:1024px) and (min-width:200px){

  body{
    margin: 0 auto!important;
    overflow-x: hidden !important;
    font-size: larger;
  }

  header{
 text-align: center;
 display: flex;
flex-wrap: wrap;
  }

  .wee{
    text-align: center!important;
  }


  p{
    border-bottom: 1px solid #9CAF88;
    padding: 0 !important;
    font-size: small !important;
  }


  i, ul li i:before, ul li i:after{
   right: 5px !important;
   color: salmon!important;
   font-size: 2em!important;
  }

  .statement{
    line-height: 35px !important;
  }
  h1{
    letter-spacing: 0.2em;
  }

  .legend{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

    img{
      max-width: 100%;
      margin: 0 auto!important;
      height: auto;
    }
   
}
