@font-face { font-family: Sentinel; src: url('Sentinel-Light.otf'); } 
@font-face { font-family: Sentinel; font-style: italic; src: url('Sentinel-LightItalic.otf');}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background-color: #ee8da3;
}

.container-1{
  display: flex;
  flex-direction: column;
  padding: 5% 2% 0 0;
}

.box{
  justify-content: space-between;
}

.one, .two, .three, .four, .five {
  align-items: flex-start;
 margin-left: 4%;
  margin-bottom: 1rem;
  width: 50%;
  border: 2px solid #f9f756;
  padding: 1% 0 0 0;
}

.six{
position:fixed;
align-self: flex-end;
text-align: center;
padding: 0.5rem -2rem;
z-index: -1;
}

.six img{
  border: 2px solid #f9f756;
  opacity: 83%; 
}

h1{
  padding: 2% 0 0 2%;
  font-family:'encode sans', sans-serif;
  text-transform: uppercase;
}

h2,p{
  padding: 2%;
}

h2, h2 a{
  font-family: 'encode sans', sans-serif;
  color:#415c87;
}
p{
  font-family: 'Sentinel-Light';
  color:navy;
}

a{
  text-decoration: none;
  color: #415c87;
}
.container-2{
  display: flex;
}

#para{

  margin-top:5%;

  width: 50%;
  height: 100px;
  background: #f9f756;
  opacity: 50%; 
  transform: skewX(50deg);
  }
#paratwo{
 margin-top: 5%;
  width: 50%;
  height: 100px;

  background: #f9f756;
  opacity: 50%; 
  transform: skewX(-50deg);
  }

  @media screen and (max-width:1024px)and (min-width:300px){

    .container-1{
      margin-left: -2%;
      display: flex;
      justify-content: center;
  
    }

    .six img{
      opacity: 8%;
    }
   
    .one, .two, .three, .four, .five{
      width: 95%;
      }
    }
