@import url(@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap'));

*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body{

    font-family: 'Rubik Mono One', sans-serif;
    color:#fedccc;
    background-color:#ff8fa4;
}

header{
	font-size: 12px;
	padding: 20px 0 0 3%;
}
header a{
	text-decoration: none;
	color: blue;
}

header a:hover{
	color: yellow;
}


.portfolio{
display: flex;
width: 100%;
height:auto;

}

article{
	display: flex;
	flex-wrap: wrap;
	margin-left: 3%;
	margin-top: 3%;
	width: 100%;

	justify-content: space-between;

}

section .entry{
	float: left;
	width: 70%;
	padding: 30px 10% 0 0;

}

section .entry a{
	text-decoration: none;
	color: black;
}

section .entry a:hover{
	color:blue;

}


section .video{
	float: right;
	margin-right: 80%;

	width: 30%;
	opacity: 70%;
}

section .video:hover{
	opacity: 100%;
}

section .video video{
	
}

footer{
	color: yellow;
	margin-left: 76%;
	font-size: 12px;
	margin-bottom: 3%;
}




