*, *:before, *:after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
 /* font-family: 'Helsinki XXL', sans-serif; */
	color:#000000;
  background-color:#000000;
  font-family: 'Fraunces', cursive;
  /*#d087bd;*/
}


.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.card{
  margin-top: 15%;
}

.one{
  background-color: #E8CE8E;
  padding: 5% 6.2%;
}

.two{
  background-color:#eff1eb;
  padding: 5.15% 7%;
}

.me{
  text-align: center;
  letter-spacing: 0.4em;
}

p{
  line-height: 200%;
  font-size: large;
  letter-spacing: 0.25em;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  opacity: 0.4;
  color: #C4DECF;
  cursor: auto;
}

#color{
  color:#AACE8E;
}

@media screen and (max-width:768px)and (min-width:200px){

  body{
    margin: 0;
    text-align: center;
  }
  .one{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


}
