@import url(@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500&family=Arima+Madurai:wght@300;400&display=swap'));

*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body{
	background-color: #E0D7C6;
}

.title {
	font-family: 'Archivo', sans-serif;
	font-weight: 400;
	font-size: 45px;
	letter-spacing: 0.1em;
	line-height: 120%;
	padding: 3%;
	text-transform: uppercase;
}

.title a{
	color: #BB803F;
	text-decoration: none;
}

.title a:hover{
	color: black;
}

nav ul{
	float: right;
	margin-top: -8%;
	margin-right: 3%;



}
nav ul li{
	display:inline-flex;
	
	font-family: 'Archivo', sans-serif;
	font-size: 25px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	
}


nav ul li a{
color: #BB803F;
text-decoration: none;
	
}

nav ul li a:hover{
	color: black;
}



.page{
display: flex;
flex-wrap: wrap;
max-height: 300px;
}


.writing{

	display: flex;

  border:5px solid #84A19C;
  border-radius: 8%;
  background: transparent;
  padding: 10%; 
  width: 20%;
  max-height: 150px; 

  margin-left: 25%;
  margin-top: 9%;
}


.scripts, .prose, .musiclink{
	display: flex;
	font-family: 'Arima Madurai', cursive;
	text-transform: uppercase;

	letter-spacing: 0.2em;

}

.scripts{
	display: flex;

	position: absolute;
	margin-top: -9%;
	margin-left:-8.5%;
}


.prose{
	position: absolute;
	margin-top: 7%;
	margin-left: 2%;
}


.scripts a, .prose a, .musiclink a{
	color: #372726;
	text-decoration: none;
}

.scripts a:hover, .prose a:hover, .musiclink a:hover{
	color: black;
	text-decoration: line-through; 
}


.scripts img{
	display: flex;
position: absolute;
width: 100%;
height: auto;
margin-top:59%;
margin-left: 50%;

}

.music{
display: flex;


  border:5px solid #486034;
  border-radius: 50%;
  background: #transparent;
  padding: 12%; 
  width: 5%;
  height: 20px; 
	
margin-left: -5%;
  margin-top: -6%;


}

.musiclink {
	

	position: absolute;
	margin-left:3%;
}


/* end of original css */



/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {

.scripts, .prose{

	font-size: 14.5px;

}

.musiclink{
	margin-left: -3.5%;
}

	}

@media screen and (max-width: 900px) {

.scripts, .prose{

	font-size: 12.5px;

}

.musiclink{
	margin-left: -3.5%;
}

	}

@media screen and (max-width: 800px) {

.scripts, .prose{

	font-size: 10px;

}

.musiclink{
	margin-left: -4.5%;
	font-size: 14px;
}

nav ul li{
	display:inline-flex;
	padding: 0 3% 0 3%;

	font-family: 'Archivo', sans-serif;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
}



	}

@media screen and (max-width: 700px) {

.scripts, .prose{

	font-size: 9.5px;

}

.musiclink{
	margin-left: -5%;
	font-size: 13px;
}

nav ul li{
	display:inline-flex;
	padding: 0 3% 0 3%;

	font-family: 'Archivo', sans-serif;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
}


	}


@media screen and (max-width: 600px) {

.scripts, .prose{

	font-size: 15px;

}

.prose{
	margin-top: 5%;
	margin-left: -5%;
}

.scripts img{
	display: none;
}

.musiclink{
	margin-left: -5%;
	font-size: 13px;
}

nav ul li{
	
	margin-left: 10%;
}

.writing, .music{
	margin: auto;
	display: flex;
	flex-direction: column;
	margin-top: 15%;
	padding:15%;
}

	}

@media screen and (max-width: 500px) {


.writing, .music{
	display: flex;
	flex-direction: column;
		margin: auto;
	
	margin-top: 15%;
	padding:30%;
	margin-left: 15%;
}

.scripts, .prose{

	font-size: 13px;

}

.prose{
	margin-top: 4%;
	margin-left: -10%;
}

.scripts img{
	display: none;
}

.musiclink{
	margin-left: -6.5%;
	font-size: 13px;
}
nav ul li{
	
	margin-top: 8%;
	margin-left: 30%;
}

	}


@media screen and (max-width: 411px) {

.writing, .music{
	display: flex;
	flex-direction: column;
		margin: auto;
	
	margin-top: 15%;
	padding:45%;
	margin-left: 15%;
}

.scripts, .prose{
	margin-left: -10%;
}

.musiclink{
	margin-left: -8%;
}

nav ul li{
	
	margin-top: 8%;
	margin-left: 30%;
}

}


@media screen and (max-width: 400px) {

.writing, .music{
	display: flex;
	flex-direction: column;
		margin: auto;
	
	margin-top: 15%;
	padding:35%;
	margin-left: 15%;
}

.scripts, .prose{
	margin-left: -10%;
}

.musiclink{
	margin-left: -8%;
}

nav ul li{
	
	margin-top: 8%;
	margin-left: 30%;
}

}


@media screen and (max-width: 375px) {


.writing, .music{
	display: flex;
	flex-direction: column;
		margin: auto;
	
	margin-top: 15%;
	padding:57%;
	margin-left: 15%;
}

.scripts, .prose{
	margin-left: -15%;
}

.musiclink{
	margin-left: -11%;
}

}

@media screen and (max-width: 350px) {


.writing, .music{
	display: flex;
	flex-direction: column;
		margin: auto;
	
	margin-top: 15%;
	padding:55%;
	margin-left: 15%;
}

.scripts, .prose{
	margin-left: -15%;
}

.musiclink{
	margin-left: -11%;
}

}


@media screen and (max-width: 300px) {


.writing, .music{
	display: flex;
	flex-direction: column;
		margin: auto;
	
	margin-top: 15%;
	padding:65%;
	margin-left: 15%;
}

.scripts, .prose{
	margin-left: -15%;
}

.musiclink{
	margin-left: -11%;
}

}
