@font-face{
	font-family: 'Lineal';
	src: url(/displays/Lineal.otf);
}
@font-face{
	font-family: 'Helsinki XXL';
	src: url(/displays/HelsinkiXXL-Thin.ttf);

}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{

background-color: #f0cf61;
}

/* images */ 

.flex{

	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}

.one{
display: flex;
flex-wrap: wrap;

float: left;
mix-blend-mode: darken;
}


.two{
display: flex;
justify-content: center;
padding-top: 7%;

}

.three{
	display: flex;
	justify-content: flex-end;
	max-height: 400px;
	height: auto;
	width: 30%;
	float: right;
	
}

/* top text */

hr{
	color:transparent;
	opacity:0%;
}

h1{
	display: flex;
	justify-content: space-around;
	padding-top: 2%;

	font-family: 'Lineal';
	letter-spacing: 0.4em;
	font-size: 250%;
}

h2{
	display: flex;
	justify-content: center;
	margin-left: 15%;
	margin-top: 10%;
	margin-bottom: 35%;

	font-family: 'Helsinki XXL';
	font-style: thin;
	font-size: 25px;

}

/* middle text */

h3{
	padding: 1.5% 2% 2% 3%;
	margin-bottom: 3%;
	line-height: 210%;
	font-family: 'Helsinki XXL';
	font-style: thin;
	font-size: 120%;
	color: black;
	border:3px solid black;
	mix-blend-mode: luminosity; 
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 25%, rgba(148,187,233,1) 40%);
}
.two img{
	height: 815px;
	width: 90%;
	border:3px solid black;
	mix-blend-mode: luminosity; 



}
/* lower text */

.final-message{
	display: flex;
	flex-wrap: wrap;
	flex: 1;

}
section{
	margin-left: 20%;
	margin-right: 30%;
	width: 60%;
}

h4{
	position: relative;
	display: flex;
	flex-wrap: wrap;


	font-family: 'Helsinki XXL';
	font-style: thin;
	
	color: black;


	font-size: 120%;
	line-height: 180%;

	
}

/* final thought */

h5{
	position:absolute;
	font-family: 'Helsinki XXL';
	font-style: thin;
	font-size: 150%;
	color: white;

	right: 3em;

}


.containertwo{
	background-color: #b6cac0;
}
/* footer */
footer img{
	padding-left: 5%
}

/* media queries */

@media only screen and (max-width: 500px) {

	.body-text{
	padding-right: 30%;
	}

}



@media only screen and (max-width: 400px) {

	.body-text{	
	padding-right: 30%;
	}

	.paragraph{

	}

}



@media only screen and (max-width: 300px) {

	.body-text{
	padding-right: 30%;
	}

}



